 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!--
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  -->
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-line"></i>
      <i class="devicon-cplusplus-line"></i>
      <i class="devicon-csharp-line"></i>
      <p>C/C++, C#, Java</p>
      <p>Lua, HLSL, GLSL, SQL</p>
    </div>
    <div class="tech">
      <h2>Tools & APIs</h2>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-visualstudio-plain-wordmark"></i>
      <i class="devicon-unreal"></i>
      <p>Git, Visual Studio, Perforce</p>
      <p>OpenGL, DirectX, Premake</p>
    </div>
</div>
