<div class="user-details">
  <h1> Professional Projects </h1>
</div>
<div class="user-pro-projects">
  <div class="slideshow-container" style="float:right" id="NewWorld">
    <div class="slide">
      <img src="/assets/img/NewWorld/ss5.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/NewWorld/ss7.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/NewWorld/ss10.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/NewWorld/ss15.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/NewWorld/ss18.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/NewWorld/ss23.jpg">
    </div>
    <a class="prev" onclick="plusSlides(this, -1)">&#10094;</a>
    <a class="next" onclick="plusSlides(this, 1)">&#10095;</a>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(this, 1)"></span> 
      <span class="dot" onclick="currentSlide(this, 2)"></span> 
      <span class="dot" onclick="currentSlide(this, 3)"></span> 
      <span class="dot" onclick="currentSlide(this, 4)"></span> 
      <span class="dot" onclick="currentSlide(this, 5)"></span> 
      <span class="dot" onclick="currentSlide(this, 6)"></span> 
    </div>
  </div>
  <div class="contents">
    <h3> New World </h3>
    <ul>
      <li>Lumberyard</li>
      <li>Python, C#</li>
      <li>Perforce</li>
    </ul>
    <p>Explore a thrilling, open-world MMO filled with danger and opportunity where you'll forge a new destiny for yourself as an adventurer shipwrecked on the supernatural island of Aeternum. Endless opportunities to fight, forage, and forge await you among the island's wilderness and ruins. Channel supernatural forces or wield deadly weapons in a classless, real-time combat system, and fight alone, with a small team, or in massed armies for PvE and PvP battles—the choices are all yours.</p>
    <a class="project-link" href="https://www.newworld.com/en-us" target="_blank">Website</a>
    <span style="display:inline-block; width: 20;"></span>
    <a class="project-link" onclick="overlay.showVideo('https://www.youtube.com/embed/5kGcrtkWIgM')" href="#newworld-trailer">Trailer</a>
    <!--href="https://www.youtube.com/watch?v=pzAz0MfQV_o" target="_blank"-->
  </div>
</div>
<div class="user-pro-projects">
  <div class="slideshow-container" style="float:left" id="Crucible">
      <div class="slide">
        <img src="/assets/img/Crucible-screenshot-Amazon-1280x720.jpg">
      </div>
      <a class="prev" onclick="plusSlides(this, -1)">&#10094;</a>
      <a class="next" onclick="plusSlides(this, 1)">&#10095;</a>
      <div class="dot-container">
        <span class="dot" onclick="currentSlide(this, 1)"></span> 
      </div>
    </div>
  <div class="contents-right">
    <h3> Crucible </h3>
    <ul>
      <li>C++, C#</li>
      <li>Lumberyard</li>
      <li>Perforce</li>
    </ul>
    <p>Team-based PvP action shooter.                                                                                                                                                                                          </p>
    <a class="project-link" onclick="overlay.showVideo('https://www.youtube.com/embed/zlWgiHRvx30')" href="#crucible-trailer">Trailer</a>
  </div>
</div>
