<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="slideshow-container" style="float:right" id="Ascension">
    <div class="slide">
      <img src="/assets/img/Ascension_1_HiRes.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/Ascension_2_HiRes.jpg">
    </div>
    <div class="slide">
      <img src="/assets/img/Ascension_3_HiRes.jpg">
    </div>
    <a class="prev" onclick="plusSlides(this, -1)">&#10094;</a>
    <a class="next" onclick="plusSlides(this, 1)">&#10095;</a>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(this, 1)"></span> 
      <span class="dot" onclick="currentSlide(this, 2)"></span> 
      <span class="dot" onclick="currentSlide(this, 3)"></span> 
    </div>
  </div>
  <div class="contents">
    <h3> Ascension </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Ascension is a 3D 3rd-person puzzle exploration adventure game made in Unreal Engine 4. Players control Orion as he faces a trial presented to him by the Gods of Olympus.</p>
    <a class="project-link" href="http://games.digipen.edu/games/the-ascension#.Wkyu09-nGUk" target="_blank">Download</a>
    <span style="display:inline-block; width: 20;"></span>
    <a class="project-link" href="https://www.youtube.com/watch?v=pzAz0MfQV_o" target="_blank">Trailer</a>
  </div>
</div>
<div class="user-projects">
  <div class="slideshow-container" style="float:left" id="Colossal">
      <div class="slide">
        <img src="/assets/img/Gameplay_01.png">
      </div>
      <div class="slide">
        <img src="/assets/img/Gameplay_02.png">
      </div>
      <div class="slide">
        <img src="/assets/img/Gameplay_03.png">
      </div>
      <a class="prev" onclick="plusSlides(this, -1)">&#10094;</a>
      <a class="next" onclick="plusSlides(this, 1)">&#10095;</a>
      <div class="dot-container">
        <span class="dot" onclick="currentSlide(this, 1)"></span> 
        <span class="dot" onclick="currentSlide(this, 2)"></span> 
        <span class="dot" onclick="currentSlide(this, 3)"></span> 
      </div>
    </div>
  <div class="contents-right">
    <h3> Colossal </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Pilot colossal gladiator mechs in this first person shooter based in a futuristic Roman Empire that never fell. Fight off bots and move around obstacles in the coliseum to find the opponent. In only three rounds the greatest gladiator will be declared the victor.</p>
    <a class="project-link" href="http://games.digipen.edu/games/colossal#.Wk2tLt-nGUk" target ="_blank">Download</a>
    <span style="display:inline-block; width: 20;"></span>
    <a class="project-link" href="https://www.youtube.com/watch?v=UWSq9O251N0" target="_blank">Trailer</a>
  </div>
</div>
