<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Ascension </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Ascension is a 3D 3rd-person puzzle exploration adventure game made in Unreal Engine 4. Players control Orion as he faces a trial presented to him by the Gods of Olympus.</p>
    <a class="project-link" href="http://games.digipen.edu/games/the-ascension#.Wkyu09-nGUk">Download</a>
    <span style="display:inline-block; width: 20;"></span>
    <a class="project-link" href="https://www.youtube.com/watch?v=pzAz0MfQV_o">Trailer</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
